<header class="post-header {{^if feature_image}}post-header--no-image{{/if}}">
    <div class="container wrapper flex content-space-b">
        <div class="post-header__text">
            <h1>{{title}}</h1>
            {{#if custom_excerpt}}
                <p class="post-header__custom-excerpt">
                    {{custom_excerpt}}
                </p>
            {{/if}}
            <ul class="post-header__tags-list flex items-center flex-wrap">
                {{#foreach tags}}
                    <li>#{{name}}</li>
                {{/foreach}}
            </ul>
            {{#foreach authors}}
                {{#match @index '=' 0}}
                    {{> components/author is_post=true}}
                {{/match}}
            {{/foreach}}
        </div>
        {{#if feature_image}}
            <figure class="post-header__feature-image flex flex-col">
                {{> components/image
                    image_type='post'
                    image_class='lazyload'
                    image_url=feature_image
                    size_xs=true
                    size_s=true
                    size_m=true
                    size_l=true
                    size_xl=true
                    loading='lazy'
                }}
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}
    </div>
</header>