{{!< default}}

{{> components/loop is_hero=true}}

{{#if @custom.about_us}}
    <section class="about-us {{^if @custom.feature_image_for_the_above_section}}about-us--no-image{{/if}}">
        <div class="wrapper container {{#if @custom.feature_image_for_the_above_section}}flex items-start content-space-b{{/if}}">
            <div class="about-us__text">
                <h2 class="section-title">{{t "About us"}}</h2>
                <p>{{{@custom.about_us}}}</p>
            </div>
            {{#if @custom.feature_image_for_the_above_section}}
                {{> components/image
                    title='About us section background image'
                    image_class='lazyload'
                    image_url=@custom.feature_image_for_the_above_section
                    size_xs=true
                    size_s=true
                    size_m=true
                    size_l=true
                    loading='lazy'
                }}
            {{/if}}
        </div>
    </section>
{{/if}}

{{> components/loop is_gallery=true}}

{{> components/cta}}