{{!< default}}
{{#post}}
<article class="post-section">
    {{#match @page.show_title_and_feature_image}}
        {{>posts/header}}
    {{/match}}
    <div class="container wrapper">
        <div class="post-content">
            {{#if access}}
            {{content}}
            {{else}}
            {{#if html}}
            <div class="members-cta-teaser">
                {{{html}}}
            </div>
            {{/if}}
            {{>members/cta}}
            {{/if}}
        </div>
    </div>
</article>
{{/post}}