{{!< default}}

<section class="tag-page">
    <div class="container wrapper">
        {{#tag}}
            <h1 class="section-title">{{name}}</h1>
            {{#if description}}
                <p class="tag-page__description">{{description}}</p>
            {{/if}}
        {{/tag}}

        <div class="cards-loop cards-loop--posts">
            <div class="cards-loop__header">
                {{#tag}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/tag}}
            </div>

            {{> components/loop is_posts=true}}
        </div>
    </div>
</section>