.button {
    font-size: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
    padding: 2rem 4.2rem;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    &--content-cta {
        margin-bottom: 2rem;
    }

    &--header {
        padding: 1.2rem 2.8rem;
    }

    &--minimal {
        background-color: transparent;
        color: inherit;
        padding: 0;
    } 

    &--transparent {
        background-color: transparent;
        color: inherit;
        border: 1px solid var(--color-black)
    }
}