.button {
    font-size: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
    background-color: var(--color-black);
    color: var(--color-white);

    &--header {
        padding: 1.2rem 2.8rem;
    }

    &--minimal {
        background-color: transparent;
        color: inherit;
    } 
}