/* Hero section cards loop */

.hero {
    &__title {
        font-size: clamp(3.6rem, 2.916rem + 1.519vw, 4.8rem);
        font-weight: 600;
        text-transform: uppercase;
    }

    .cards-loop--hero {
        margin-top: 2rem;
        column-gap: 2%;
    }
}

/* Gallery section cards loop */

.gallery {
    margin-top: clamp(12rem, 10.291rem + 3.797vw, 15rem);

    .cards-loop--gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 456px 306px;
        gap: clamp(1rem, 0.43rem + 1.266vw, 2rem);
    }
}

/* Categories section cards loop */

.categories {
    padding-bottom: clamp(10rem, 7.152rem + 6.329vw, 15rem);

    .cards-loop--categories {
        gap: 2rem;
    }
}

/* Post cards loop */

.cards-loop--posts {
    border-top: 1px solid #cdcdcd;
    margin-top: clamp(4rem, 3.43rem + 1.266vw, 5rem);
    padding-top: 1rem;

    .cards-loop__header {
        font-size: clamp(1.4rem, 1.058rem + 0.759vw, 2rem);
    }
    .cards-loop__cards {
        margin-top: 3rem;
        row-gap: clamp(4rem, 1.722rem + 5.063vw, 8rem);
        column-gap: 2rem;
    }
}

/* Related section cards loop */

.related {
    margin: clamp(10rem, 7.152rem + 6.329vw, 15rem) 0;

    .wrapper {
    }
    .container {
    }
    .cards-loop--related {
        column-gap: 2rem;
        row-gap: 4rem;
    }
    
}
