/* Hero section cards loop */

.hero {
    &__title {
        font-size: clamp(3.6rem, 2.916rem + 1.519vw, 4.8rem);
        font-weight: 600;
        text-transform: uppercase;
    }

    .cards-loop--hero {
        margin-top: 2rem;
        column-gap: 2%;
    }
}

.gallery {
    margin-top: clamp(12rem, 10.291rem + 3.797vw, 15rem);
    
    .cards-loop--gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 456px 306px;
        gap: clamp(1rem, 0.43rem + 1.266vw, 2rem);
    }
}

.categories {
    padding-bottom: clamp(10rem, 7.152rem + 6.329vw, 15rem);

    .cards-loop--categories {
        gap: 2rem;
    }
}

