/* Hero section card */

.card--hero {
    width: 23.5%;
    height: max-content;

    h3 {
        margin-top: 1rem;
        font-size: 1.6rem;
        color: var(--color-gray);
        padding: 0;
        text-align: center;
    }

    picture {
        overflow: hidden;
        display: block;
        max-height: calc(100% - 1.5px);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.8s;
    }

    &:hover img {
        transform: scale(1.2);
    }
}

/* Gallery section card */

.card--gallery {
    position: relative;
    transition: all 0.3s;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-post-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .card-open-icon {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        width: 4rem;
        height: 4rem;
        transform: scale(0.75);

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 15;
        padding: 1rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0.5;
        transition: all 0.5s;

        svg {
            width: 2rem;
            height: 2rem;
            transition: all 0.6s;
        }
    }

    &:hover .card-open-icon {
        transform: scale(0.95);
        opacity: 1;
    }
}

.card--gallery:nth-child(11n + 1),
.card--gallery:nth-child(11n + 2) {
    grid-column: span 2;
}

.card--gallery:nth-child(11n + 7) {
    grid-column: span 4;
}

/* Category section card */

.card--category {
    display: block;
    position: relative;

    &.card--category-1 {
        width: 100%;
        height: clamp(17.5rem, 0.127rem + 38.608vw, 48rem);
    }

    &.card--category-2 {
        width: calc(50% - 1rem);
        height: clamp(17.5rem, 4.684rem + 28.481vw, 40rem);
    }

    &.card--category-3 {
        width: calc(25% - 1.5rem);
        height: clamp(17.5rem, 10.665rem + 15.19vw, 29.5rem);
    }

    figure {
        overflow: hidden;
    }

    figure,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &:hover img {
        transform: scale(1.1);
    }

    .card__caption {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);

        font-weight: 500;
        color: var(--color-white);
        text-transform: uppercase;
        text-align: center;
    }

    &.card--category-1 .card__caption {
        font-size: clamp(2rem, 0.861rem + 2.532vw, 4rem);
    }

    &.card--category-2 .card__caption {
        font-size: clamp(2rem, 1.146rem + 1.899vw, 3.5rem);
    }

    &.card--category-3 .card__caption {
        font-size: clamp(2rem, 1.658rem + 0.759vw, 2.6rem);
    }
}

/* Post card */

.card--post {
    width: calc(50% - 1rem);
    height: max-content;

    &.card--post-1 {
        width: 100%;
    }

    figure {
        height: clamp(29rem, 17.038rem + 26.582vw, 50rem);
        overflow: hidden;
        margin-bottom: clamp(2rem, 1.829rem + 0.38vw, 2.3rem);
    }

    figure:hover img {
        transform: scale(1.1);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    h3 {
        font-size: clamp(2.6rem, 2.03rem + 1.266vw, 3.6rem);
        font-weight: 500;
    }

    &:hover h3 {
        text-decoration: underline;
    }

    .card__tags {
        margin-top: clamp(1.5rem, 1.215rem + 0.633vw, 2rem);
        column-gap: 1.5rem;

        span {
            font-size: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
            font-weight: 500;
        }
    }
}

/* Tier card */

.tier {
    width: 32%;
    background-color: #F6F6F6;
    padding-bottom: 5rem;

    &__title {
        text-align: center;
        padding: 1.5rem;
        background-color: #F0F0F0;
        font-size: 2.8rem;
        font-weight: 500;
    }
    &__price {
        margin-top: 2rem;
        text-align: center;
        display: flex;
        align-items: baseline;
        justify-content: center;

        font-size: 4rem;
        font-weight: 600;

        span:first-of-type {
            font-size: 4rem;
            font-weight: 600;
        }

        span {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
    &__content {
        padding: 3rem 3.4rem 3.4rem;
    }
    &__description {
        font-size: 2rem;
    }
    &__benefits {
        margin-top: 3rem;
        font-size: 1.6rem;

        li {
            margin-left: 1.2rem;
        }

        li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .button {
        margin-top: auto;
        font-size: 1.8rem;
        padding: 1.4rem 2.8rem;
    }
}

