.header {
    .container {
    }
    .wrapper {
    }  
    
    nav {
        position: relative;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5.4rem;
        width: max-content;

        font-size: 2.8rem;

        img {
            height: 100%;
        }
    }

    &__buttons {
        column-gap: 2rem;
    }

    &__site-name {
        font-size: 2.8rem;
    }
}