.navigation {
    list-style-type: none;
    column-gap: clamp(2rem, -1.254rem + 4.237vw, 4rem);

    li {
        font-size: 2rem;
        font-weight: 500;
    }
}

.navigation--is-footer {
    column-gap: unset;
    row-gap: 1.5rem;

    li {
        font-size: clamp(2rem, 1.886rem + 0.253vw, 2.2rem);
    }
}