.tiers {
    border-top: 1px solid #CDCDCD;
    padding-top: 1rem;

    &--account {
        border-top: none;
        padding-top: 0;
        margin-top: clamp(3rem, 0.152rem + 6.329vw, 8rem);
    }

    .tiers-switch[data-active-price="yearly"] + .tiers-cards [data-monthly],
    .tiers-switch[data-active-price="monthly"] + .tiers-cards [data-yearly] {
        display: none;
    }

    & .wrapper > small {
        font-size: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
    }

    & .wrapper > p {
        font-size: 2rem;
        width: max-content;
        margin: 5rem auto 0;

        a {
            color: var(--ghost-accent-color);
            text-decoration: underline;
        }

        a:hover {
            color: var(--color-black)
        }
    }

    .tiers-switch {
        width: max-content;
        margin: 3rem auto 4rem;
        padding: 0.8rem;
        background-color: #F6F6F6;
        column-gap: 0.5rem;

        button {
            font-size: clamp(1.6rem, 1.372rem + 0.506vw, 2rem);
            padding: 1rem 3.4rem;
            background-color: unset;
            transition: all .2s;
            cursor: pointer;
        }
    }

    .tiers-switch[data-active-price="yearly"] > button[data-price='yearly'],
    .tiers-switch[data-active-price="monthly"] > button[data-price='monthly'] {
       background-color: var(--color-black);
       color: var(--color-white)
    }
    .tiers-cards {
        column-gap: 2%;
        row-gap: 2rem;
        flex-wrap: wrap;

        @media (max-width:768px) {
            row-gap: 4rem;
        }
    }
}
