.about-us {
    margin: 0 0 clamp(12rem, 10.291rem + 3.797vw, 15rem);

    .container {
        column-gap: 4rem;

        @media (max-width:768px) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    &__text {
        h2 {
            margin-bottom: clamp(3rem, 1.861rem + 2.532vw, 5rem);
        }

        p {
            font-size: clamp(1.8rem, 1.572rem + 0.506vw, 2.2rem);
        }
    }

    picture, &__text {
        max-width: 50%;
        height: max-content;

        @media (max-width:768px) {
           max-width: 100%;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-us--no-image {
    
    .about-us__text {
        max-width: 100%;
    }
}
