{{#if is_cta}}
    <form class="form form--cta flex flex-col items-center" data-members-form="subscribe">
        <label>
            <input data-members-email type="email" autocomplete="email" placeholder="{{t 'Your e-mail address'}}">
            <span>{{t 'Your e-mail address'}}</span>
        </label>
        <button class="button">{{t 'Subscribe'}}</button>
    </form>
{{/if}}